/* Write your CSS here */
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.todo-item-name {
  font-size: large;
  font-weight: 600;
  font-size: 22px;
}
button {
  color: #ff0b37;
  border: 2px, solid, #ff0b37;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
